header {
	background-color: #878f99;
	padding-bottom: 10px
}

section {
	height: auto
}

p {
	margin: 0 auto;
	text-indent: 1cm
}

h1{
	margin: 0 auto;
	text-indent: 1cm
}

#noticias { 
	width: 80%;
	background-color: #d0c9c7;
 }

article {
	width: 80%;
	height: auto
}

aside {
	background-color: #d0c9c7;
	float: right;
	width: 20%;
	height: 100%;
	position: relative;
}

figcaption {
	color: #878f99
}

footer {
	background-color: #878f99;
	padding-bottom: 40px
}